.App {
  text-align: center;
}

.NavBar ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.NavBar a, a:visited {
  text-decoration: none;
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
}

.Block {
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content: center;
  border: thin solid black;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

.BlockHeader > h1 {
  font-weight: normal;
}

.BlockTable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
}

.BlockTable > tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: thin solid black;
  padding: 1em;
}

